.section{
    background-color: #f7f7f7;
    padding: 20rem 0;
    margin-top: -20%;
}
.section-about{
    display:flex;
    justify-content: center;
}

.heading{
    background-image: linear-gradient(to right, #52c234, #1c6801);
    -webkit-background-clip: text;
    color:transparent; 
    font-size: 30px;
    text-transform: uppercase;
    margin-top: -1rem;
    letter-spacing: 1px;
    transition: all .2s;

    &:hover{
        transform: skewY(4deg) skewX(10deg) scale(1.1);
        text-shadow:  .5rem 0.6rem 1.5rem rgba(0, 0, 0, 0.267);
    }
}

.section-about__info{
    margin: 3.5rem 14rem;
    width:80%;

    .descripton{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        text-transform: uppercase;
        font-size: 0.9rem;
        padding-right: 10rem;
        p{
            margin-bottom: 2rem;
            font-size: 0.7rem;
            font-weight: 300;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        .btn,
        .btn:link,
        .btn:visited{
            border:none;
            background: transparent;
            //border-bottom: 2px solid #52c234;
            color:#37ff00;
            font-weight: 800;
            //padding-left: 1px;
            margin-top: 2rem;
            outline: none;
            padding:.8rem;
            &:hover{
                background: rgb(0, 179, 9);
            }
            }    
            .gallery{
                margin: 4rem -7rem;
                
                .gallery-art{
                    display:flex;
                    flex-direction: row;
                }
                .pic{
                    width:30%;
                    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.479);
                    border-radius: 2px;
                    border: 1.2px solid black;
                    margin-left: 2rem;
                    outline-offset: 0.6rem;                    

                    &:hover{
                        transform: scale(1.05);
                        z-index: 70;
                        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.068);
                        //border
                        outline: 0.8rem solid rgb(0, 155, 8);
                    }

                }
                .gallery__p1{
                    position: absolute;
                    left:17%;
                    z-index: 5;
                }
                .gallery__p2{
                    position: absolute;
                    left:38%;
                    z-index: 10;
                    //top:1px;
                }
                .gallery__p3{
                    position: absolute;
                    left:-3%;
                    
                }
                .gallery__p4{
                    position: absolute;
                    left:58%;
                    z-index: 35;
                }
                


            }  
    }

    

}



.footer{
    background-color: black;

    &__logo-box{
        display: flex;
        justify-content: center;
        padding-top: 4rem;
    }

    .navigation{
        padding: 1rem;
        

        &__list{
            display:flex;
            flex-direction: row;
            list-style-type: none;
            margin-top: 80px;
        
            .item{
                padding: 10px;
                
            }
            .link{
                text-decoration: none;
                color: #23a100;
            }
        }
        
    }
}